.header{
    background-color: #efe8ef;
}
.header p {
    height: 50px;
    line-height: 50px;
    color: #4e5a7d;
}
.header p span{
    color: var(--title-hcolor);
}
.header p i {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    color: #ccc;
}
/* 过渡开始 */
.my-list {
    position: relative;
    --time: 0.8s;
    overflow: hidden;
    transition: var(--time);
    height: 360px;
}
.my-list:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
}
.my-list .img{
    transition: var(--time);
}
.my-list .imgh{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: var(--time);
}
.my-list:hover .img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.my-list:hover .imgh {
    position: relative;
    opacity: 1;
}
.my-list .my-box{
    background-color: #fff;
   transition: var(--time);
}
.my-list:hover .my-box{
     transform: translateY(-65px);
}
.my-list h6 {
    color: #445a69;
    transition: 0.5s;
}
.my-list h6:hover {
    color: var(--title-hcolor);
}
.my-list p {
    color: #939ea9;
    font-size: 14px;
}
.my-list p .price{
    color: var(--title-hcolor);
    font-size: 18px;
}
.my-list p:last-child {
    letter-spacing: -5px;
}
.my-list p .icon-wujiaoxing {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #fdcc0d;
}
.my-list button .icon-gouwuche{
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
}
.my-list button{
    border: none;
    outline: none;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #ff324d;
    color: #fff;
    border-radius: 5px;
    border-bottom: 3px solid #ef304a;
}
.my-list button span {
    color: #fff;
}
.row>nav a {
    color: #062a27;
    font-weight: 600;
    transition: 0.8s;
}
.row>nav a:hover {
    color: #fff;
    background-color: #ff324d;
}
/* 分页选中效果 */
.page-item {
    background-color: transparent!important;
}
.page-item.active .page-link{
    background-color: var(--title-hcolor)!important;
}
